[2016-06-22 03:08] jamestalmage opened #1 "I worry `module.parent` is too magic, and not necessarily robust."
https://nodejs.org/api/modules.html#modules_module_parent

My understanding is that means if you've got two modules:

[code]

[code]

Then `module.parent` will be whichever one got loaded first. That seems like a recipe for hard-to-debug issues.

I would just modify your constructor so you can do:

[code]

as a shortcut for `{projectName: 'my-module'}`

[2016-06-22 10:03] sindresorhus commented on #1
Read the comment in the code. That's exactly why I do this: https://github.com/sindresorhus/conf/blob/d2349738648ee751ef3409c93829b92c46d610ce/index.js#L12

This trick is proven to work reliably. I've been using it for years in a [myriad of packages](https://github.com/sindresorhus/meow/blob/bf66f3adcbc3a6eb5863ad59c6c77b84944a98e8/index.js#L13-L15).

[2016-06-22 17:05] kasperlewau opened #2 "Build not passing - silent fail?"
I hate to be this guy *(chill, it's 0.10.0...)* but, you've got an [.only](https://github.com/sindresorhus/conf/blob/master/test.js#L144) that's reporting a non-passing build as passing on Node@5.11.1 & Node@6.2.0 with a clean `npm i`.

![failing](https://i.imgur.com/4mzDLK4.png)

Builds on
* Travis (https://travis-ci.org/sindresorhus/conf/jobs/139352324#L653)
* AppVeyor (https://ci.appveyor.com/p

[2016-06-22 17:12] #2 closed

[2016-06-22 17:15] sindresorhus commented on #2
Ugh. Thanks for reporting :) Luckily, I only had a couple of incorrect tests. Code was working perfectly.

`.only` is so dangerous! I actually have XO, which bundles the https://github.com/avajs/eslint-plugin-ava/blob/master/docs/rules/no-only-test.md rule, which should have caught this. @jfmengels Any idea why it didn't?

[2016-06-22 17:30] ccnokes opened #3 "Asynchronousity?"
The setter for store (https://github.com/sindresorhus/conf/blob/master/index.js#L82) is synchronous which is probably a good thing, but in some scenarios where I may be doing a lot of setting, I'd like it to be async. If I were to PR this with a `setAsync` method, is that something that you'd consider?

Thanks for the handy package btw 😸 .

[2016-06-22 19:20] jfmengels commented on #2
Hmm, no, sounds really odd. I'll try to look into it later, but it is odd indeed.

[2016-06-22 20:38] sholladay commented on #1
I have been seeking a great solution to this problem of "get the user's package.json" and was wondering about that pattern as well.

For many modules that export a function, a sensible approach may be a combo of [read-pkg-up](https://github.com/sindresorhus/read-pkg-up) and [caller-path](https://github.com/sindresorhus/caller-path). I know at least [meow](https://github.com/sindresorhus/meow/blob/

[2016-06-22 20:43] sindresorhus commented on #1
@sholladay I sometimes use https://github.com/sindresorhus/parent-module too, but it's just easier to use this trick instead.

[2016-06-22 20:49] jamestalmage commented on #1
Clever.

It seems to me that the comment does not accurately describe what is happening though. It should be something like:

It's actually deleting itself from the cache, not some previously cached instance.

[2016-06-22 22:30] jfmengels commented on #2
`import {serial as test} from 'ava';` it's this part that we don't recognize. Do we want to handle this case or does that seem like a weird use of AVA? IMO, it kind of does :D, but we should probably try to handle it.

Didn't know you could destructure things like `serial` and that it was the same thing as `test.serial`. We actually don't even handle anything when AVA is not imported as `test`. Pl

[2016-06-22 22:47] sindresorhus commented on #2
@jfmengels I opened an issue: https://github.com/avajs/eslint-plugin-ava/issues/121

[2016-06-24 10:50] sindresorhus commented on #1
@jamestalmage Good point. Fixed.

[2016-06-24 10:52] sindresorhus commented on #3
In what scenarios would it be beneficial for it to be async? Note that you can set many properties in one call. Also keep in mind that async comes with overhead and usually it's a lot faster to do it sync when blocking the event loop is not a problem (pretty much everything other than servers).

[2016-06-24 10:54] #1 closed

[2016-06-24 18:10] ccnokes commented on #3
I changed my mind 😸 , and you make a good point. I also realized that in the context of an Electron app (my use case), if you quit the app while an async write is pending, the data never gets written to the file and all the data in the existing file (if there is one) is lost.

[2016-06-24 18:10] #3 closed

[2016-06-27 08:29] atakangktepe opened #5 "Get all configs"
I need get all method for see what includes my config. I have solution maybe it's help.

Pr: #4

[2016-06-27 10:06] #5 closed

[2016-07-21 10:15] jwheare opened #7 "package.json autodetection fails if not used as a direct dependency"
As noted in: https://github.com/sindresorhus/electron-config/issues/1#issuecomment-234117691

Perhaps this can just be mentioned in the README as a caveat, but if no `projectName` or `cwd` is provided, conf tries to detect the package.json of the parent package.

However, this uses the module.parent mechanism, which returns the nearest direct dependent, rather than the top level package.

https://

[2016-07-21 10:22] sindresorhus commented on #7
The problem is that we can't really know which module in the tree is the correct one. It might be the direct parent, it might be top level, or somewhere in between. I think auto-detecting the direct one and falling back to an option is a good compromise, but happy to consider other solutions. And yes, should be documented better regardless.

[2016-09-07 06:23] SamVerschueren opened #8 "`.set(object)` detection might be wrong"
Currently, this is the implementation of `.set(key, val)` which supports `.set(object)` as well.

[code]

If someone calls `set('foo')` or `set('foo', undefined)`, `Object.keys('foo')` returns `[0, 1, 2]` and the store will look like this

[code]

I believe we should add extra checks to the `set` method. But the first question to answer is, is `string` the only valid input type for `key`?

1. Test

[2016-09-07 08:31] sindresorhus commented on #8
Yes.

-

Extra checks sounds good.

[2016-09-08 08:02] #8 closed

[2016-09-09 03:20] zeke opened #10 "Consider adding a factory method"
I know it's "idiomatic", but I've never been a fan of this style for requiring a class that will only be instantiated once:

[code]

What about adding a factory method like this:

[code]

or even:

[code]

This could be supplemental to the existing instantiation behavior.

[2016-09-23 22:49] mceachen commented on #10
somewhat related: this isn't a great first impression:

[code]
because node's REPL has no module.parent:
[code]

[code]

[2016-09-23 23:18] zeke commented on #10
`uname -a`

😎

[2016-09-26 04:25] sindresorhus commented on #10
@zeke I was back-and-forth on that before publishing, but I thought a constructor made sense since most are gonna want to set some default values in the `defaults` options, so they need to use the constructor.

It's not certain it will only be instantiated once. A module may want multiple instances.

-

[code]

These styles won't work for ES2015 imports. I don't think it makes sense to optimize fo

[2016-09-26 04:27] sindresorhus commented on #10
@mceachen Your issue is unrelated to this, but thanks for bringing it up :) I never thought of the use-case of using this module in the REPL. I'll make sure to improve that experience.

[2016-09-26 18:02] zeke commented on #10
Good point. Not on that 🚋  yet.

[2016-09-26 18:02] #10 closed

[2016-09-27 02:54] sindresorhus opened #11 "Support running it in a REPL"
See: https://github.com/sindresorhus/conf/issues/10#issuecomment-249320242

[2016-12-13 20:42] mvayngrib opened #12 "Write file atomically?"
instead of writeFileSync

[2016-12-13 22:17] sindresorhus commented on #12
Why?

[2016-12-13 22:32] mvayngrib commented on #12
sometimes when node crashes, files getting written end up blank. write-file-atomic prevents it. I noticed configstore uses it, and i was using it in my project instead of writeFileSync, so i thought i'd suggest it

[2016-12-13 22:35] sindresorhus commented on #12
I only have bad experience with the `write-file-atomic` module after having used it in Configstore. Bad code and maintenance. I'm happy to consider a different module if it's good.

[2016-12-13 22:39] mvayngrib commented on #12
ok, since i don't know of another one, i'll close this for now

[2016-12-13 22:39] #12 closed

[2017-02-22 12:22] AlmirKadric opened #15 "YAML support"
This is a feature request, wondering if we could have YAML support.
Will try an open a PR to add this feature, expect it won't be too much code.

[2017-02-22 15:59] SamVerschueren commented on #15
Not sure why you want `conf` to use YAML because you barely touch the store directly. It only adds bloat imo as it requires a custom parser.

So I think it might be better if you create something like `yaml-conf` and just extend this `Conf` class and write to a YAML file instead of a JSON file.

[2017-02-22 23:06] brian-mann commented on #3
Here is one use case - `graceful-fs`. We are dealing with a situation where *every* fs read/write call needs to be async so it goes through `graceful-fs`. Without that, EMFILE errors bubble up.

[2017-02-24 03:05] AlmirKadric commented on #15
thanks for the advice, will that instead then 👍

[2017-02-24 03:09] AlmirKadric commented on #15
Woops I didn't read the last line, if its still in the decision process I'll make my case.

For my configuration system i plan to have 3 forms of configuration all intertwined, `default` application config, `appData` config and `dotfile` config. The idea was for the latter 2 to use the conf library to provide them. However for the `dotfile` using `yaml` rather than JSON would be preferable.

Also

[2017-02-24 05:23] sindresorhus commented on #15
Sorry, not interested in YAML support.

[2017-02-24 05:23] #15 closed

[2017-03-22 10:24] florianb commented on #11
Other than stated in #10, this fails because conf's `module.parent.filename` is `null`. As a first try i added support for the local `package.json` in the pending pr.

Even though pkg-up does as it says (it searches upwards) it would be nice if there would be an option to also recognize a package.json in the cwd, too.

[2017-03-22 10:26] florianb commented on #11
🤔 huh, i haven't really tried if pk-up doesn't do that already.

[2017-03-22 15:15] florianb commented on #11
✍️  Okay pkg-up also recognizes the local package.json, except in the test-environment. I currently have no idea why `pkgUp.sync(process.cwd())` returns `null` when being invoked from within a test.

[2017-03-22 15:57] florianb commented on #11
Stupidness solved.

[2017-04-30 09:20] #11 closed

[2017-04-30 09:32] #7 closed

[2017-06-03 10:11] DenisCarriere opened #17 "Missing module.parent in Docker container"
The strangest thing happened, everything works in Node 6 & 7, however whenever I bring `conf` into any of the latest Docker container (ex: `node:6`) it crashes.

https://github.com/sindresorhus/conf/blob/master/index.js#L13

**Error on require**
[code]

**Module parent does not exist**
[code]

[2017-06-07 15:22] #17 closed

[2017-06-08 18:36] DenisCarriere commented on #17
👍 Works in Docker `node:6` now

[2017-06-26 08:58] jatins opened #19 "Uncaught Error: Cannot find module ".""
I am using this via [electron-store](https://github.com/sindresorhus/electron-store) and getting this error:

<img width="361" alt="screen shot 2017-06-26 at 2 23 06 pm" src="https://user-images.githubusercontent.com/1556536/27531816-a0a05e10-5a7b-11e7-9566-10b4cd738db9.png">

Stacktrace:

[code]

[2017-06-26 13:52] sindresorhus commented on #19
https://github.com/sindresorhus/electron-store/issues/3

[2017-06-26 13:52] #19 closed

[2017-07-26 03:10] dengyaolong opened #20 "If store(fs.writeSync) frequently, IO tall use, maybe need throttle?"
I use conf to save some stat KPI(a lot of count and timing), combo and send it to my stat server. However, user maybe manipulate frequently, and conf will writeFileSync frequently too, Its there any solution, may be throttle?

[2017-07-26 06:23] SamVerschueren commented on #20
I don't think `conf` is a good fit for that to be honest. Like the name implies, and the description of the package states

It's for config handling, not for writing bulks of data to disk because from what you say, it looks like you should use streams for that.

[2017-07-26 21:10] sindresorhus commented on #20
How frequent and how much data?

[2017-07-27 03:18] dengyaolong commented on #20
as most 100 times / sec. I agree with @SamVerschueren , now I am trying write a new “electron-store“, add to memory, and save after combo.

[2017-09-04 01:28] jojobyte opened #23 "Uncaught TypeError: Cannot read property 'filename' of undefined"
This just took forever to track down. Been trying to get some Karma tests working in an Electron project and have been getting these errors.

[code]

[code]

It is related to `import Store from 'electron-store';`

After commenting out that import and replacing it with the below code, the Karma spec functions as expected:

[code]

Any help resolving this would be much appreciated.

Thanks!

[2017-09-04 05:49] sindresorhus commented on #23
See: https://github.com/sindresorhus/electron-store/issues/9

[2017-09-04 05:49] #23 closed

[2017-09-04 07:29] sindresorhus opened #24 "Prevent unsupported JSON values"
For example, `undefined` is not supported in JSON. We should throw rather than silently coercing it.

[2017-09-04 07:31] sindresorhus opened #25 "Recommend `.delete()` if the user tries to set `undefined`"
Throw a useful error.

[2017-09-28 18:41] selrond opened #28 "Can't store Node.js Timeout object"
An attempt to store Timeout (a [return value](https://nodejs.org/api/timers.html#timers_setinterval_callback_delay_args) from `setInterval` and `setTimeout` functions in Node) inside conf results in
[code]

Example code:
[code]

Any way I can work around this? I need to store it to be able to cancel it on demand, based on user input. (Purpose: Alfy based Alfred Workflow)

[2017-09-28 19:12] #28 closed

[2017-09-28 19:13] sindresorhus commented on #28
The value you set must be JSON serializable. You could store a timestamp instead and use that.

[2017-09-28 19:32] selrond commented on #28
@sindresorhus could you elaborate on that? How can I `clearTimeout()` with timestamp?

[2017-09-29 01:28] sholladay commented on #28
@selrond This is what I would do. Below is a `setEnd()` function that behaves like `setTimeout()`, except it persists when the timer should trigger. If an end timer already exists but has not been triggered, then the handler will be called at the previously calculated end time, ignoring the given delay. The system is reset when the timer triggers.

In the event that the timer _should have_ been tr

[2017-09-29 05:56] selrond commented on #28
@sholladay Thank you!

Now how would you do it for `setInterval()`? I choose `setTimeout()` in the example, because is easier to work with (don't have to kill the Node process each time I can't stop it in code and returns the same `Timeout` object as `setInterval()`).

What I really want to do is:

1. Run timer
2. Save a reference to it to the `conf` instance
3. Do some stuff
4. Be able to stop th

[2017-09-29 08:55] sholladay commented on #28
The same principles apply. Regardless of your exact timer setup and usage, the key is to turn the delay into absolute time (i.e. using `Date.now()`) and then keep `conf` up to date on when the next "tick" should be. Your program can then pick up where it left off at any point in the future by making a new timer. There's no reason it needs to persist the actual original timer object. It just needs

[2017-10-02 09:39] selrond commented on #28
@sholladay Thank you!
What I didn't realize is that where I want to use it (Alfy workflow), it basically runs `node index.js` every time conditions are met.

So I _guess_ the reason I wasn't able to get it working was, that Node created new process every time it was invoked to run `node index.js` (Am I right though? Not entirely sure how Node works in such manner).

So I guess there is not an appr

[2017-10-02 11:41] sholladay commented on #28
The code I provided above is designed to work across restarts of Node (or even restarting your entire computer). The only requirement is that Node be running at the time when the `tick` is supposed to happen. In other words, let's say you wanted to report something about your app to [Google Analytics](https://analytics.google.com/) every 30 seconds. My timer code above would be able to do that and

[2017-10-02 19:02] selrond commented on #28
@sholladay I really do appreciate your time and help, but I can't seem to get it working. I've already spent too much time on this, tried tens of different approaches, and now I'am almost totally burnt out on it...

If there's any chance you know how Alfred works, and happen to be bored, here's my repo: https://github.com/selrond/alfred-standup

Thank you again

[2017-10-10 17:57] d2rk87 opened #29 "Error parsing your configuration file: [./config.json]: Unexpected end of JSON input"
How can handle this error ?

[2017-10-10 19:12] sindresorhus commented on #29
@d2rk87 Can you share some code on how you're using Conf? A failing test would be the absolute best.

[2017-12-19 20:19] djalmaaraujo opened #31 "concurrency in ava"
Do you recommend using `.serial` for tests using this module? Any suggestion for a library that uses `conf` module? It fails since they use the same storage (this module), so I needed to add `.serial` to those tests.

[2017-12-20 07:35] SamVerschueren commented on #31
Support questions are better asked on StackOverflow.

To give you a quick answer. Yes it is possible, but it really depends on how you are using `Conf`. If you look at the tests of `Conf` itself, if you are able to pass in `cwd` from within your tests, you can run them concurrently. If not, you will have to run them serially.

[2017-12-20 07:35] #31 closed

[2017-12-20 15:24] djalmaaraujo commented on #31
@SamVerschueren thanks, your answer is enough for me. I appreciate your fast response.

[2018-01-27 07:38] acheronfail commented on #24
Unsupported values include:

- the value `undefined`
    - `JSON.stringify({ foo: undefined }) ` = `"{}"`
- any `Function`
    - `JSON.stringify({ foo: function () {} })` = `"{}"`
- any `Symbol` (as a key or value)
    - `JSON.stringify({ foo: Symbol('foo') })` = `"{}"`
    - `JSON.stringify({ [Symbol('foo')]: 'foo' })` = `"{}"`

Also, non-enumerable properties aren't supported (from [MDN](https:/

[2018-01-27 07:40] acheronfail commented on #24
I think checking for the first three cases makes sense (check for `undefined`, `typeof x === 'function'` and `typeof x === 'symbol'`. That shouldn't be a difficult change.

Not sure how feasible it really is to check if every value is `enumerable` though, what do you think?

[2018-01-27 15:23] fabiospampinato opened #32 "Problematic file write upon instantiation"
I have a bitbar plugin that gets refreshed every second, 99% of the times it just reads data from the configuration without mutating it in any way.

In `conf`'s constructor there's this line:
[code]

Which calls `store`'s setter method, which writes back to disk the value of the store we just read. Basically every instantiation causes a write, this may be problematic in some use cases.

This is a

[2018-01-30 01:43] nampdn opened #33 "typescript import not work"
Hi,
I installed @types/conf and try to use import like this:
[code]
When I inspect the `Conf`, it is `undefined`, if I switch to:
[code]
It works but the tsc complain,  @types/conf seem not correctly write for this structure, typescript throw me an error:
[code]

[2018-02-01 12:23] #29 closed

[2018-03-16 11:04] shajanjp opened #34 "development.json is loaded instead of default.json when NODE_ENV is not set"
Is this the expected behavior?

[2018-03-25 11:47] MegaGM opened #35 "Make the -nodejs suffix configurable"
Related: https://github.com/sindresorhus/env-paths/issues/2

[2018-03-27 23:02] samuelcarreira opened #37 "New Feature - Read data from the RAM (don't always read the file content)"
I dug up a little inside the conf module code and appears to me that each **get**/read function call uses the `fs readFileSync` to get the data from the config file.
If I need to constantly check for a value from the app settings it can lead to performance issues. So my approach is to copy the settings to a global variable 👎 and only use this module to write the config file when some changes occur

[2018-03-31 18:57] sindresorhus commented on #35
Why do you need this? What's your use-case?

[2018-04-02 02:29] MegaGM commented on #35
1. To store a `database.json` file within `app.getPath('userData')` directory (with no `-nodejs` suffix)
2. To use the same `database.json` file in different processes. Electron's `main` and `renderer`, as well as non-Electron app.

[2018-04-03 17:48] sindresorhus commented on #35
Alright, PR welcome :)

[2018-04-03 18:28] #25 closed

[2018-04-03 18:32] sindresorhus commented on #32
It's just an oversight. PR welcome to fix it :)

[2018-04-03 18:34] sindresorhus commented on #24
👍

Yes, doesn't make sense to check for this.

[2018-04-03 18:36] sindresorhus commented on #34
I don't think that's related to this module. If you're using Webpack, I guess it's something in your Webpack config. Submit a pull request with a [failing test](https://github.com/avajs/ava#failing-tests) and I'll take a closer look. I'm requesting this as most issues like these are just users using the module incorrectly or an unrelated problem.

[2018-05-27 09:17] #32 closed

[2018-07-22 10:17] Xylobol opened #44 "Add feature to disable dot-notation"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/conf/issues/44/badge.svg" />](https://issuehunt.io/r/sindresorhus/conf/issues/44)

Hi! I'm working on a project that uses reverse-domain naming for namespaces, and we need to store some data with the namespace as the key. Where we'd expect
[code]
we end up with
[code]
instead due to the dot-notation. Is there a pre-existing way

[2018-07-26 10:34] sindresorhus commented on #44
PR welcome for an option to disable it :)

[2018-07-26 10:35] sindresorhus commented on #44
I have hundreds of issues to triage. 4 days is not a lot of time to wait ;)

[2018-08-06 15:58] hacdias opened #45 "On change for the whole config"
Hello! Would it be possible to have a `.onChange` handler for the whole config object?

[2018-08-09 16:09] AdrianoFerrari commented on #44
Any update on this @Xylobol ?

Would like to be able to disable dot-notation, so I look forward to your PR.
Thanks!

[2018-08-12 12:27] Sorixelle commented on #44
The fork is currently on our project's internal Git, which has been down for the past few days. We should be able to bring it back up, and possibly get the fork ready to go public very soon :)

[2018-08-18 05:52] dwilches opened #46 "Missing parameter in @types/electron-config"
The second parameter of the `get` method is missing in `@types/electron-config`:

    /**
     * retrieves an item
     */
    get(key: string): any;

[2018-08-18 07:05] sindresorhus commented on #46
That type definition is not by me. You need to report this on the DefinitelyTyped repo.

[2018-08-18 07:05] #46 closed

[2018-10-07 11:48] ctxhou opened #48 "if opts.projectName is defined, prevent to read the pkgPath file"
Hi, I would like to suggest whether `conf` can prevent read the pkgPath file if the `opts.projectName` is defined.

Now the lib uses this way to set the `pkgPath` [link](https://github.com/sindresorhus/conf/blob/d41ec3a31ac074a7a94d657f80550375542b37d4/index.js#L23-L31)

[code]

I think whether it can exam the option first?
The reason is I use the `electron-store`, and in some cases, I don't know

[2018-10-16 12:07] sindresorhus commented on #48
Sure, PR welcome, but really no point in having it in the Object.assign call at all then. Can just be:

[code]

[2018-10-16 12:07] sindresorhus commented on #48
Can you reproduce the issue reliably? Would be good to get that fixed for real instead of just hiding it away.

[2018-10-16 12:10] sindresorhus commented on #45
What's the use-case?

I guess we could add a `.onDidAnyChange(callback)` method. And the callback would contain the old and new object. It's up to you to figure out exactly what changed though.

[2018-10-16 15:02] hacdias commented on #45
Imagine an Electron app where the main process is sending the conf object to the UI to display the settings visually. I'd like to listen to all changes so I could update the interface without listening to each specific event.

I tried `.onChange('.')` but it didn't work. That would also be a useful implementation.

[2018-10-16 15:07] sindresorhus commented on #45
I prefer a separate method to make the difference clear. The callback arguments would be different too.

[2018-10-16 18:48] ctxhou commented on #48
Yeah, I also hope to fix the real problem, but it's hard for me to reproduce, because I only received this error report from one of the users. I will write down all things I knew so that we can discuss the possible bug.

<hr/>

Here is the case:
* The app is published on Mac App Store
* Mac version: `High Sierra (10.13)`

**Error message:**

[code]

Here is how I declare the `electron-store`. It's

[2018-11-02 13:48] marcoancona opened #51 "Allow config file without extension"
I would like to migrate from `electron-settings` to `electron-store`. However the default setting file of the former is simply "Settings" (no extension) therefore I would like to be able to instantiate the new store on the same file. I believe they should be compatible.
However, I could not find a way to set a null extension of `electron-store` as it always append a `.`.

[2018-11-11 20:51] igor-lemon commented on #51
Please make new 2.0.1 release.

[2018-12-19 10:07] LitoMore commented on #44
Currently, `conf` is using [dot-prop](https://github.com/sindresorhus/dot-prop) to solve the config object.

In this case:

[code]

It's too much to get the `cc.xylobol.test` with `dot-prop` because the code will like this:

[code]

I think we could drop the `dot-prop` module and write a new module to do this.

[2018-12-19 10:36] LitoMore commented on #44
How we solve these cases?

**Case 1**

[code]

**Case 2**

[code]

**Case 3**

[code]

[2019-01-18 07:03] #35 closed

[2019-01-31 22:15] ericpyle commented on #44
Thanks, Escaping my dots `.` with `\\.` helped me bypass the dot-notation behavior.

[2019-02-04 08:02] #24 closed

[2019-02-18 11:19] bampakoa opened #60 "Invalid version in npm registry"
@sindresorhus I think that the version of the library in the npm registry is not correct. The registry reads version **2.2.0** but `index.js `does not have changes from this release

[2019-02-18 11:28] sindresorhus commented on #60
Can you be more exact on what's missing/wrong?

[2019-02-18 12:37] bampakoa commented on #60
Ok, it was not clear for me whether the last commits were in the 2.2.0 version. As I can see, 2.2.0 is behind the `master` branch. Sorry about the fuss. Are you going to release them any time soon?

[2019-03-15 11:34] #60 closed

[2019-03-16 06:54] #48 closed

[2019-04-01 10:11] sindresorhus commented on #45
For anyone that wants to work on this, see the feedback in https://github.com/sindresorhus/conf/issues/45.

[2019-04-22 23:00] scottbot95 opened #69 "Parameter definition out of order for `onDidChange` callback"
The typescript declaration file lists the parameters for the `onDidChange` callback as `oldValue, newValue` when it should be `newValue, oldValue`

[2019-04-28 15:27] #69 closed

[2019-04-30 04:55] #45 closed

[2019-05-10 13:05] darko1002001 opened #71 "Namespace 'NodeJS' has no exported member 'TypedArray'."
Hello I am trying to use conf within an electron project using typescript and angular. I am getting the following error when trying to run my app

here is my package.json with the dependencies i have declared:

[code]

I am also running **node 12.2.0**

[2019-05-10 14:05] sindresorhus commented on #71
Your `@types/node` dependency is outdated.

[2019-05-10 14:05] #71 closed

[2019-06-01 08:38] #44 closed

[2019-06-12 06:26] sindresorhus opened #74 "Add store migrations"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/conf/issues/74)

See https://github.com/sindresorhus/conf/pull/49 for an initial attempt that went stale. Please take into account all the feedback given there if you intend to take on the issue.

Part of this task is also to bring the docs over to `electro

[2019-06-12 06:28] sindresorhus opened #75 "Trigger `onDidChange` when the file is altered"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/conf/issues/75)

See https://github.com/sindresorhus/conf/pull/47 for an initial attempt that went stale. Please take into account all the feedback given there if you intend to take on the issue.

Part of this task is also to bring the docs over to `electro

[2019-06-25 23:30] d42ohpaz opened #80 "Feature Request: Allow schema to be free-form"
Currently the implementation expects that the schema provided is the `properties` of an object type. For most cases, this is probably fine, but I am finding it a little limiting because I am unable to define top-level properties, such as [`required`](https://json-schema.org/understanding-json-schema/reference/object.html#required-properties), [`propertyNames`](https://json-schema.org/understanding

[2019-07-22 19:55] rafaelramalho19 commented on #74
I'm more than happy to pick this up.

Wish me luck 🤞

[2019-08-08 10:58] sindresorhus opened #84 "Export the JSONSchema type"
See https://github.com/sindresorhus/caprine/pull/998/files#r310819343

Same in `electron-store` too.

[2019-08-29 08:03] YodaDaCoda opened #85 "Defaults not applied from schema"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/conf/issues/85)

I'm using a schema to create my settings, and I've been unable to have `conf` or `electron-config` use the defaults provided in the schema.

I've included a reduced test case here:

[code]

An rough solution to populate defaults from schema

[2019-09-09 06:36] #74 closed

[2019-09-09 07:10] sindresorhus commented on #80
Makes sense. I didn't think about that use-case. I just wanted to make it simple to define a schema without having to deal with the meta schema properties.

This sounds too fragile. It's very likely someone would have a `type` key for a different purpose.

---

How do you suggest we add support for this? Either a breaking change or add a separate key for top-level meta properties.

[2019-09-09 07:13] sindresorhus commented on #85
I'm not really sure what the problem is. We tell `ajv` to use the defaults here: https://github.com/sindresorhus/conf/blob/931ffce6bc653b7395ad52224b3c9c3e312d1045/index.js#L85

[2019-09-09 07:16] #84 closed

[2019-09-09 08:40] sindresorhus opened #86 "Improve the TypeScript types"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/conf/issues/86)

I think the types could still be improved.

- [ ] Would be good to use `unknown` instead of `any` here: https://github.com/sindresorhus/conf/blob/bb24cfe32d39617a4b3983a92bd81596bd87c312/index.d.ts#L210 But it causes error on a valid usage:

[2019-09-09 12:09] 9ae8sdf76 commented on #80
I agree with your comment about guessing the schema form based on existence of a key. How about an alternative behavior:

By default treat all schemas as they currently are treated (i.e., properties of an existing object). Allow users to pass a flag with their options to opt-in their schema as free-form. No guesswork and backward compatible.

If you still don't like that, I think adding top-level

[2019-09-09 12:27] sindresorhus commented on #80
Can you show an example of how that would look like?

[2019-09-09 15:31] 9ae8sdf76 commented on #80
I was imaging it to look like:

[code]

[2019-09-09 15:35] sindresorhus commented on #80
You meant this right?

[code]

If so, I would be ok with that. However, thinking more about it, giving two roles to `schema` would complicate the TypeScript typings. I think it would be easier to just have a separate property like this:

[code]

Suggestions for better name welcome.

[2019-09-09 15:45] 9ae8sdf76 commented on #80
Yes, you're right I meant to pass the schema in with the config. Good catch.

I would agree with you about using `rootSchema` instead of `schema`, except that JSON can be anything from `null` to an `object`. This would mean Conf would need to then take on the burden of type detection and using the correct JSON Schema format for what was passed in. If that format ever changed, then it could break e

[2019-09-09 17:13] brunolemos commented on #86
I highly recommend moving from `index.js` to `index.ts` for automatic type generation.

[2019-09-09 17:54] sindresorhus commented on #86
Yeah, I'm happy to move to TypeScript if anyone wants to do the work.

Here's the config I use:
- https://github.com/sindresorhus/p-queue/blob/144d0ad54c9940d8b53359bd4566be89d8437df5/tsconfig.json
- https://github.com/sindresorhus/p-queue/blob/144d0ad54c9940d8b53359bd4566be89d8437df5/package.json#L12-L15
- https://github.com/sindresorhus/p-queue/blob/144d0ad54c9940d8b53359bd4566be89d8437df5/packa

[2019-09-10 07:43] sindresorhus commented on #80
Not exactly sure what you mean by that. Conf would only every support an object at the top-level, so if the user tries to set something else, we would throw a useful error.

I just meant that having multiple types for one options complicates the types. Having two options, each with only one type each makes it much simpler.

[2019-09-11 02:23] yaodingyd commented on #85
@YodaDaCoda I cannot reproduce the case with basic type(`string`). Can you give more details? (OS and node version)

About use `object` type with default, I believe this is the correct behavior according to ajv: default keywords will be ingored if not in properties or items subschemas. For `foo`, there is no default on its level, so it will be undefined. I use the following code and get the same r

[2019-09-16 06:06] YodaDaCoda commented on #85
@yaodingyd thanks, this has made me review my issue.

This is interesting. Adding `default: {}` to `foo` in my test above produces the desired results.

From what I can tell, draft 07 of the spec doesn't define the behaviour of a validator in this regard. Draft 08 adds some examples that happen to include handling of defaults, and seems to imply that the results I expected are correct (i.e. able t

[2019-09-20 21:16] Treverix opened #92 "Migration creates wrong internal version number"
The following code should create an config.json file with the config version number "0.0.1", instead it stores an internal version of "1.0.0":

[code]

config.json:
[code]

[2019-09-20 21:26] Treverix commented on #92
This should give a config.json of version 2.0.0 with a and b set. Instead it creates a version 1.0.0 which only contains a:

[code]

[2019-09-21 06:13] sindresorhus commented on #92
// @rafaelramalho19

[2019-09-21 06:56] #75 closed

[2019-10-21 18:15] krnik commented on #85
Isn't `deault` property in your example `bar` property scoped in `foo`? That is, as far as I understand, Ajv will assign default property `bar` to the foo object if the `foo` object exists but `bar` property does not.
That's why `default` property on `foo` level schema "works".

[2019-11-01 16:01] rafaelramalho19 commented on #92
That's weird... I'll look into it.

[2019-11-01 16:07] rafaelramalho19 commented on #92
@Treverix unless you specify the `projectVersion` attribute, the migration system will use the version inside the `package.json` file. Are you sure the version you have isn't `1.0.0`?

[2019-11-04 14:27] cawa-93 commented on #37
Totally agree. I was very surprised when I looked at the code and saw that all work with the file system is synchronous.

I think it would be much better to make a copy of the data in a global variable. And when you change this data, it is invisible, asynchronously, to synchronize it with a local file, if needed.

[2019-11-04 20:49] Timer opened #93 "Constructor fails when `/tmp` directory is not writable"
[code]

I'm not sure if this would be better raised in `env-paths` for giving an unwritable path.

However, I think this error would be better deferred until trying to use the `Conf` instance (e.g. get/set).

x-ref: https://github.com/zeit/next.js/issues/9294

[2019-11-05 03:10] sindresorhus commented on #93
I’m not sure how deferring it will help? You’ll eventually get a write error anyway. Also, if the `defaults` option is used, it needs to write the defaults right away.

[2019-11-05 14:33] Timer commented on #93
It was just an idea! I feel like a constructor throwing for an access error is unexpected, whereas code will likely handle failure scenarios in the `get`/`set`s.

I'll close this and add a `try { } catch { }` around `new Conf(...)`. Thanks for responding!

[2019-11-05 14:33] #93 closed

[2019-11-08 22:37] tunnckoCore commented on #85
@krnik true.

I think @YodaDaCoda is right in his expectation. When there is `properties` it's obviously expected that `foo` will/should be at least an empty `{}` object no matter what.

At least the work around is easy, haha.

Yup, sounds like problem in `ajv` and its logic.

[2019-11-11 08:50] Flady commented on #71
i update to date,but not work!why!

[2019-11-15 12:30] rafaelramalho19 commented on #92
@sindresorhus this is not a bug. It's the intended and documented behaviour https://github.com/sindresorhus/conf#projectversion

[2019-11-16 08:09] Treverix commented on #92
Ah, I didn't expect it to be related to the project version. I thought, database migrations have their own versioning which is independent of the version of the application itself. In fact, on my project I didn't touch the version on the package.json, as I didn't need to do that.
I have some experience with other db migration tools where we define changesets for all changes of the DDL or for confi

[2019-11-18 08:15] sayem314 commented on #37
Yeah, you are right, @sindresorhus any word?

[2019-11-18 12:49] samuelcarreira commented on #37
I am currently working on a alternative library to save the settings.
Main highlights:
- Very lightweight (only native node modules)
- Save/Read settings to/from RAM.
- Uses fastest validation
- Setting can be shared from the main process to the renderer process
- only saves data to disk if needed (saves write cycles on SSDs)

I will post here when I publish the process

[2019-11-18 17:12] sayem314 commented on #37
@samuelcarreira waiting for this

[2019-11-20 13:14] philippkuehn opened #97 "configName not working"
[code]

still creates a `config.json` instead of `foo.json`.

[2019-11-29 09:48] sindresorhus commented on #85
Can you open an issue on `ajv` and comment the link here?

[2019-12-15 18:32] iluxdev opened #98 "onDidChange only fires once (reactjs)"
please close this, posted in wrong place

[2019-12-15 19:22] #98 closed

[2020-01-10 20:38] techo207 opened #99 "Feacture Request: ajv should have "removeAdditional: 'all' " option"
when i set a schema to my conf file i want only accepted keys store in it. the new Ajv intance (line 84 in index.js ) should set "removeAdditional: 'all' " when a schema is given or conf should have a new option to only accept schema keys

[2020-01-11 12:46] TheRealSyler opened #101 "Add the ability to unsubscribe from `onDidChange`"
im using the `electron-store` package for a electron/react app and on `componentDidMount` im calling the  `onDidChange` method of the store the problem is im getting an error when the component is unmounted because the callback references the component, so a unsubscribe thing would be good to prevent this kind of issue.

i can help adding it, i already have some vague ideas on how this could be im

[2020-01-29 18:29] oltreseba opened #102 "The library seems to not be multithread safe"
I'm using conf inside in an electron application inside some webworkers.

The reason why i'm not using electron-store is that it does not work in webworkers.

conf seems to have problem in initialising the config file from different webworkers. The underlying problem seems to be related with the `write-file-atomic` package, function `writeFileSync`

What is it doing: (i assume for avoiding having

[2020-01-29 18:36] sindresorhus commented on #102
I would recommend opening an issue on `write-file-atomic` about this. It should support Webworkers.

[2020-01-29 18:49] oltreseba commented on #102
Right. Done.

[2020-01-29 18:49] #102 closed

[2020-02-12 18:55] sindresorhus commented on #101
Makes sense. PR welcome :)

Should ideally be added to `onDidAnyChange` too.

[2020-02-13 12:18] TheRealSyler commented on #101
turns out, you already can unsubscribe.

the test below will pass.
[code]

in conclusion the only thing that needs to be updated is the readme.

[2020-02-16 15:13] sindresorhus commented on #99
This is better solved by https://github.com/sindresorhus/conf/issues/80.

[2020-02-16 15:13] #99 closed

[2020-02-22 08:54] sindresorhus commented on #86
For anyone that wants to work on this, see the initial attempt and feedback in https://github.com/sindresorhus/conf/pull/96. You can start from there.

[2020-02-22 08:58] #101 closed

[2020-02-22 09:09] #92 closed

[2020-02-22 09:35] sindresorhus commented on #97
We actually have a test that proves that this works: https://github.com/sindresorhus/conf/blob/514469ad4cdf42658492cee5e3d0b4eadbf3de33/test.js#L186-L197

[2020-02-22 20:46] Superjo149 commented on #86
Accidentally ran into this issue yesterday. Might take a crack at it. :)

[2020-03-12 02:31] magicdawn commented on #3
https://www.electronjs.org/docs/tutorial/performance#3-blocking-the-main-process

[2020-03-13 10:23] GitNomster opened #105 "DeprecationWarning: crypto.createDecipher is deprecated"
There is deprecated function in [index.js](https://github.com/sindresorhus/conf/blob/master/index.js#L422).

[2020-03-13 10:27] sindresorhus commented on #105
It's only used to help migrate from the old method.

[2020-03-13 10:27] #105 closed

[2020-04-03 16:12] philippkuehn commented on #97
I tried it again and it actually works. Probably I had made a mistake then. Sorry!

[2020-04-03 16:12] #97 closed

[2020-04-06 02:50] samuelcarreira commented on #37
@sayem314  I am happy to announce that you can try the beta version of my module https://github.com/samuelcarreira/electron-json-settings-store
I need all the feedback that you can provide

[2020-04-06 07:31] sayem314 commented on #37
Is it for electron only? I don't use electron.

[2020-04-07 00:03] papb commented on #37
Also Sindre Sorhus himself recommends his other module [electron-store](https://github.com/sindresorhus/electron-store) for electron

[2020-04-07 00:06] samuelcarreira commented on #37
@sayem314 It's only for electron

@papb the electron-store is basically a wrapper of the conf module, so the complaints are the same

[2020-04-25 17:06] maximeallanic opened #108 "onDidChange is called once"
Replace fs.watch to fs.watchFile in _watch method.

[2020-04-29 01:05] bloodchen opened #109 "How to handle arrays?"
Let's say I have a config

[code]

How can I add an item to items array?

Thanks

[2020-04-29 02:46] sindresorhus commented on #109
There's currently no nice way to do this. You'll have to do something like:

[code]

I plan to add a convenience method for this. See: https://github.com/sindresorhus/electron-store/issues/52

[2020-04-30 08:26] danielweck opened #110 "Jest, console.warn require.cache modification is not permitted"
Due to this:
https://github.com/facebook/jest/pull/9841/files
and this:
https://github.com/sindresorhus/conf/blob/410cc144141f1467cc91fe4b16f6b7f42a8afac8/index.js#L21-L23
=>
[code]
(output'ed many times in the console when unit-testing, with full stacktrace, so quite disruptive, albeit non-fatal unless unit-tests check for CLI output)

[2020-06-02 15:41] NightMachinary opened #112 "Add a way to change default config path"
I like to keep the config of some tools that use `conf` under git, and be able to easily use the backed-up configs in unix systems. The current default config path keeps changing, which doesn't lend itself to this. Ideally, I want everything stored under `~/.sindconf/`.

[2020-06-02 16:33] sindresorhus commented on #112
What do you mean by "default config path keeps changing"? The path has never changed. On Linux, it respects `XDG_CONFIG_HOME`, so you could set that to change the config path.

[2020-06-21 12:10] dancon commented on #108
It indeed is called once, and fs.watchFile works as expected as @maximeallanic said, so，is there any plan to fix the issue? @sindresorhus

[2020-06-21 12:30] sindresorhus commented on #108
What Node.js version and operating system?

[2020-06-21 12:34] sindresorhus commented on #108
`fs.watch` was an intentional choice. If it doesn't work, I recommend opening an issue on Node.js instead.

From the Node.js docs:

[2020-06-21 12:34] sindresorhus commented on #108
// @yaodingyd

[2020-06-21 13:45] brpaz commented on #108
Have the same issue. the onDidChange is only called the first time I change the file config file.

[2020-06-21 14:16] dancon commented on #108
MacOS 10.15.5 and Node 12.6.3

[2020-06-21 18:36] yaodingyd commented on #108
I can't reproduce this on my machine. macOS: 10.14.6 node: 12.4.0

[2020-07-03 14:12] #86 closed

[2020-07-03 15:49] wKovacs64 opened #113 "[7.0.0] Broken release"
https://unpkg.com/browse/conf@7.0.0/

Looks like `dist` only contains `package.json`, no JS included in this release?

[2020-07-03 16:08] #113 closed

[2020-07-05 19:34] ixrock opened #114 "[BUG] Assigning `conf.store` overrides applied migrations"
package.json
`
"conf": "^7.0.1",
`

_Example:_

[code]

[2020-07-05 19:40] sindresorhus commented on #114
// @rafaelramalho19 In case you have time/interest in looking into this. If not, no worries.

[2020-07-17 19:29] sindresorhus opened #116 "TypeScript types should take into account defaults"
https://github.com/sindresorhus/electron-store/blob/966a9c736318c6c51083de08e5eb5d1276e00047/index.test-d.ts#L47 should not be `number | undefined` as it already has a default value defined in the constructor: https://github.com/sindresorhus/electron-store/blob/966a9c736318c6c51083de08e5eb5d1276e00047/index.test-d.ts#L40-L43

[2020-07-17 19:30] #112 closed

[2020-07-23 09:11] Nisthar commented on #109
@sindresorhus Doesn't this cause performance issues when the array is big?

[2020-07-23 09:39] sindresorhus commented on #109
Only for huge arrays, and you should not store huge chunks of data in `conf` anyway.

[2020-07-28 15:57] sandersn opened #118 "Use of #private forces Typescript users to target es2015 or later, use 3.8 or later"
Found on Definitely Typed, where kap-plugin depends on conf. By default, Definitely Typed tsconfigs use the default target, which is (still) es5. This fails since ES5 doesn't have WeakMap, which `#private` emit depends on.

I would not personally use `#private` in conf:

1.  It doesn't have any information it needs to hide from other code, it just needs to prevent mistaken accesses to its internal

[2020-07-28 16:08] sandersn commented on #118
Another option is to ship multiple d.ts files using downlevel-dts, although I don't think the extra work is justified in this case.

[2020-07-28 19:21] sindresorhus commented on #118
1. `private` is useless in practice as the it's not enforced for non-TS users, which is the majority.
2. I'm fine with that.
3. That doesn't matter. `conf` is for Node.js, not the browser.
4. I'm fine with that.

[2020-08-10 14:57] #118 closed

[2020-08-10 20:45] kevinsimper opened #120 "Example from readme with typescript"
I tried the example and it does not seem to compile
[code]

https://repl.it/repls/AliveLumberingTechnicians#index.ts

[code]

[2020-08-10 20:53] sindresorhus commented on #120
Can you reproduce this with the latest TypeScript version?

We have a type test for this: https://github.com/sindresorhus/conf/blob/1dcfd0dddcadbdd0cd02193f5210cb20b9a37398/test/index.test-d.ts#L35-L56

[2020-08-10 21:45] kevinsimper commented on #120
@sindresorhus I clone the repo and it is appearently down to how you define the schema, I am really confused: https://github.com/sindresorhus/conf/pull/121

The same error here: https://travis-ci.com/github/sindresorhus/conf/jobs/370496506

[2020-08-11 16:09] Superjo149 commented on #120
Located the issue, we expected the schema to by typed like `const schema: Schema<UnicornFoo>`, but we should also allow standard objects for people who do not want to explicitly type it.

[2020-08-11 16:40] Nokel81 opened #123 "Async Migrations"
Given that many other libraries are moving to providing async only APIs the fact that migrations cannot be (reliably) an async function (IMO) is detrimental since moving from sync -> async is a non-breaking change for the migrations type but there is no (sane) way to guarantee an async migration is run to completion before the rest of the application starts doing its work.

[2020-08-11 17:59] SnosMe commented on #120
https://github.com/sindresorhus/conf/pull/121#issuecomment-672128863

[2020-08-11 19:00] sindresorhus commented on #123
What kind of migrations are you doing that requires it to be async?

[2020-08-11 19:05] Nokel81 commented on #123
Specifically I want to use this library https://github.com/sindresorhus/file-type (which I literally just realized is also by you, thanks!!)

[2020-08-11 19:06] Nokel81 commented on #123
Namely, the conversion from a path to storing something within the store (along with its MIME type)

[2020-08-13 17:38] #116 closed

[2020-08-18 16:56] sindresorhus commented on #123
There's, unfortunately, no way to make the migration be async without making every single `conf` method async too, which won't happen in the near term, if ever.

That being said, I made this for you: https://github.com/sindresorhus/make-synchronous

[2020-08-18 17:03] Nokel81 commented on #123
Thank you for the new package. I can completely understand the magnitude of converting `conf` to async.

[2020-08-19 11:14] kevinsimper commented on #120
Some good solutions has come up 👍

[2020-08-19 11:14] #120 closed

[2020-08-25 12:30] adlerluiz commented on #108
Windows 10:
 - node: 12.18.3
   - fs.watch - Ok
   - fs.watchFile - Ok (+- 1s delay)

Ubuntu 20.04:
- node 12.18.3
  - fs.watch - Fail (once)
  - fs.watchFile - Ok

Mac:
- I don't have = (

as said by @sindresorhus seems to be a nodejs problem.

There are several issues about this case such as:
- https://github.com/nodejs/node/issues/5039
- https://github.com/nodejs/node/issues/22517
and several o

[2020-09-01 07:05] fbaldo31 commented on #118
In 7.1.2 the issue is still there

[2020-09-14 12:28] kyranjamie opened #126 "Content Security Policy infringing code"
This package depends on `ajv` which internally uses `new Function(..., sourcecode)`, equivalent to `eval()`. [This is documented in their readme](https://github.com/ajv-validator/ajv#ajv-and-content-security-policies-csp).

The result of this is that any package bundling `conf` (or `electron-store`) infringes secure CSPs. That is, a CSP without an `'unsafe-eval'` directive.

Ideally, a package sho

[2020-10-01 15:42] g5becks opened #129 "File paths are being mangled"
I have a default path being stored that usings path.join to create the path, when getting the path back from the config, it is not formatted correctly. E.G.

[code]

I'm not sure how or why this is happening, but it took me a good 20 minutes to realize that it was this lib causing the issue. Any ideas on what it might be?

Thanks.

[2020-10-15 11:52] wangyangjun opened #130 "Typescript invalid character error"
Invalid character.  TS1127
[code]

[2020-10-16 19:39] wangyangjun commented on #130
For anyone see this issue also, I got this error in a project created by `react-create-app`. It is because the version of `typescript` is `~3.7.2`, but private field `#` was introduced after `3.8.0`. Just upgrade `typescript` version, it should be fixed.

[2020-10-16 19:39] #130 closed

[2020-10-23 11:32] wkoncki commented on #37
I just want to make everyone aware that this exists and does more or less what is required
https://github.com/SamVerschueren/cache-conf
It is however seriously outdated, so giving it a refresh may be a better course of work, rather than starting from scratch.

I am also wondering if this is an issue altogether, since modern operating systems usually have their own RAM cache for frequently used fil

[2020-10-27 14:39] kyranjamie commented on #126
A workaround can be found in this PR https://github.com/blockstack/stacks-wallet/pull/299

If you don't need to use the schema validation functionality, omit `ajv`, and create an alias to a stub.

[code]

[2020-12-11 23:10] strophy commented on #80
Would implementation of this feature also allow `definitions` at the top level? I'm trying to migrate a custom config solution to use `conf` instead, but I can't seem to successfully apply definitions from our [existing schema](https://github.com/dashevo/mn-bootstrap/blob/master/src/config/configJsonSchema.js) at any level - I have tried wrapping the top level in a dummy property but it doesn't wo

[2020-12-12 17:33] sindresorhus commented on #80
@strophy Yes, it would support anything [`ajv`](https://github.com/ajv-validator/ajv) supports.

[2021-01-01 10:45] willium opened #131 "Add unsubscribe method to Conf class"
It's great that `onDidChange` and `onDidAnyChange` return functions to destroy the watcher, but it would be great to have the listeners be internal state and then provide an `unsubscribe` method. This is especially nicer when you need to manage multiple Conf instances at once.

Before
[code]

After
[code]

[2021-01-02 12:11] sindresorhus commented on #131
I'm not really sold on this. You would only save a few characters, but it would introduce overhead both in the implementation, the docs, and more API surface for the developer to learn. I also don't think it's common to use multiple Conf instances.

[2021-01-02 12:21] BatuhanW commented on #85
Had the similar issue, fixed it like ;

[code]

Obviously, default value should be passed in the root. Default values in properties are ignored.

[2021-01-02 12:26] BatuhanW opened #133 "[Feature Request] Getting multiple values from the store"
Assume we have a schema;

[code]

I think it would be nice to get all these values at once like;

[code]

What do you think about this approach?

[2021-01-02 12:35] sindresorhus commented on #133
I'm ok with supporting `conf.get(['foo.bar', 'bar.baz', 'baz'])` if someone does a good pull request with docs, TypeScript types, and tests.

[2021-01-03 11:58] BatuhanW commented on #133
@sindresorhus I'd like to work on this, do you have any suggestion about how to handle default values?

One idea could be to do something like;
[code]

But it would be easy to do mistakes.

Another suggestion is something like;

[code]

But I didn't quite like it either.

[2021-01-03 13:21] sindresorhus commented on #133
Neither are very nice. Out of those two, I would pick the latter. You have to keep in mind that it has to be possible to correctly type it too. The types for `.get()` are already a bit complicated: https://github.com/sindresorhus/conf/blob/43c644f6fb0cd96a9c2e1f49b2ee0780cd089b4c/source/index.ts#L167-L173

[2021-01-03 20:21] willium commented on #131
Fair enough. I was able to achieve this fairly easily by just subclassing the conf object :)

[2021-01-04 03:12] sindresorhus commented on #131
I wonder if we could provide something that makes React integration easier though. Maybe a React hook or something. I'm always open to ideas on how to make it simpler to use.

[2021-01-04 03:47] willium commented on #131
I’m actually using it in electron, but inside a thread that doesn’t have access to app, so I’ve basically recreated a proxied version of electron-store. I just prefer the .current idiom from Ref over the .store one. The unsubscribe need for me is swapping config files (well really directories with the same files) based on the user. When you switch users, I want to unsubscribe from the old files an

[2021-01-04 11:08] BatuhanW commented on #133
Thinking about it again, it's really tricky to make it type-safe with `[key, defaultValue]` syntax.

So I implemented something like below, wrote tests, they are already passing and will write TS types, LMK what do you think about this approach;

[code]

[2021-01-06 01:42] willium opened #134 "reset() should fire onDidAnyChange"
currently, calling `MyStore.reset()` does not trigger the `.onDidAnyChange()` event, as would be expected. This makes it difficult to use that event for side-effects related to state changes.

[2021-01-06 02:06] #134 closed

[2021-01-06 02:17] willium opened #135 "reset without arguments (keys)"
Currently, calling `MyStore.reset()` without any arguments is a noop (without any warnings), contrary to what I would expect (and I imagine others). At the very least, perhaps a basic solution to just that problem:
1. Warn if no key are provided
2. Type should require at least one key, e..g `reset(key: string, ...keys: string[])`

Furthermore, my expectation was that calling reset without argument

[2021-01-06 02:18] willium commented on #135
There also exists a method `clear()` but that does not reset values to the defaults as would be expected, unfortunately.

[2021-01-07 09:13] sindresorhus commented on #135
I cannot speak for others, but as a user, I would be surprised if an API worked like this. It would make it way too easy to accidentally delete all data if you for some reason forgot to pass a key, or the key was accidentally undefined. It would just not be a good API.

I disagree. This might sound nice in theory, but in practice, it makes it annoying to pass arrays of keys that may or may not be

[2021-01-07 09:29] sindresorhus commented on #135
Can you check out https://github.com/sindresorhus/conf/pull/136 ?

[2021-01-07 09:34] willium commented on #135
Thank you for following through on this! I left a couple comments. Totally reasonable to just use clear and leave rest alone :) thanks for adding the comment

[2021-01-07 11:37] #135 closed

[2021-01-08 10:30] sindresorhus commented on #133
Looks ok to me. I think we should let users specify a string if they don't need the default value:

[code]

Many users use the `defaults` or `schema` option and don't need the `defaultValue` argument.

Not sure whether we should allow mixing string and object though. Not sure if it's even possible type-wise.

[2021-01-08 11:00] danielweck commented on #12
For visitors in the future, `conf` uses `atomically`, not the default `fs` API:

https://github.com/sindresorhus/conf/blob/a96e9d78ac7e675a24ed702f1c21dd46a0b3ae0e/source/index.ts#L457

https://github.com/fabiospampinato/atomically

[2021-01-08 11:01] danielweck commented on #12
CC @jurepetrovic

[2021-01-11 09:17] willium commented on #114
Was this resolved? Seems tricky.

[2021-01-11 09:58] jurepetrovic commented on #12
Hello Gentlemen,

to solve this issue on windows we were forced to fork the atomically and conf projects.
In case of error, we fallback to the fs module of the node. We did not go deeper, as
already this solution required forking of electron store and conf. I believe some of the
changes were pulled into main projects.

You can look here:
https://github.com/jurepetrovic/conf-atomically/blob/master/

[2021-01-14 11:43] willium opened #138 "Clear() and Defaults"
With this [fix](https://github.com/sindresorhus/conf/pull/136) landed, a new bug in `clear()` has become evident.
As you know, settings `.store = ...` emits a `change` event.

The code for clear() is currently [as follows](https://github.com/sindresorhus/conf/blob/master/source/index.ts#L274):
[code]

As you can see, we emit a change event with a blank object, and don't properly emit the post-rese

[2021-01-22 07:59] anujdatar opened #139 "Changing schema name causes `string` defaults to show up as undefined"
[code]

This works fine, just changing even one character from the schema name causes all string defaults to be returned as undefined.

Something as simple as capitalizing the S in schema throws it off. Numbers seem to work fine. Same issue when you remove type definition from the schema, numbers work, strings don't.

[code]

I am using Node v14.15.1

[2021-01-22 16:26] sindresorhus commented on #139
[code]

is shorthand for:

[code]

so the option name is no longer what's expected.

[2021-01-22 16:26] #139 closed

[2021-01-22 20:37] anujdatar commented on #139
Right, what I meant was the name of the schema variable, not the option name.

I just used `schema` and `Schema` in the initial issue to say that even a slight change in the schema variable name causes string defaults to be returned as undefined. (Notice: one has a lowercase `s`, and the other has an uppercase `S`)

So, this works:
[code]

But, the following examples don't work:
[code]
or
[code]
o

[2021-01-23 00:03] lnovelli opened #140 "Lost ability to use "date-time" format in JSON Scheme (version 7.0.0)"
HI,

I just upgraded to 7.0.0, but I get the following error when loading the store using a JSON scheme:

_Error: unknown format "date-time" ignored in schema at path "#/properties/extra/properties/lastStartDate"_

Nothing else has changed, just the packages upgrade. Am i missing something? 🤔

My JSON Scheme is the following:
[code]

And I initialize it like this:

[code]

Thank you

[2021-01-23 05:48] sindresorhus commented on #140
Please read the release notes.

[2021-02-06 17:27] kamontat opened #142 "Cannot use schema validate from ajv"
# Problem

The generated code on schema section is below

![shot-07_02_2021-00_18_46](https://user-images.githubusercontent.com/14089557/107125100-6dd88e00-68da-11eb-9813-c7a0bbbca224.png)

[code]

it add `.default` after require ajv from node_modules but when ajv export, it didn't use any default key as screenshot below

![shot-07_02_2021-00_24_52](https://user-images.githubusercontent.com/140895

[2021-02-06 17:36] sindresorhus commented on #142
I just `npm install ajv` and it doesn't have a `.default` property. You are looking at the `lib` folder, while you need to look at `dist`.

[2021-02-06 17:36] #142 closed

[2021-02-06 17:38] kamontat commented on #142
![shot-07_02_2021-00_37_31](https://user-images.githubusercontent.com/14089557/107125443-aed1a200-68dc-11eb-9aa4-f7a0f841751b.png)

I should see on lib, because it specify main file to `lib/` folder

[2021-02-10 02:13] ezzatron commented on #140
@sindresorhus Could you clarify if it's still supposed to be possible to use `ajv` formats as stated in the README? I've read the release notes (the part about `ajv` being updated to v7), but as far as I can tell it's currently *impossible* to use formats, which explains this issue.

In order to add formats to `ajv` v7, you need access to the `Ajv` instance, which `conf` does not seem to expose:

[2021-02-10 07:14] sindresorhus commented on #140
I missed that in Ajv release notes.

https://github.com/ajv-validator/ajv/blob/ab19dac8690bb3cfdfb0680e986be15d0f11bf75/docs/validation.md#formats

I think we can just depend on `ajv-formats` in `conf` since that's how it used to work. PR welcome.

[2021-02-12 09:22] #140 closed

[2021-02-12 09:30] sindresorhus commented on #108
@adlerluiz Can you check the latest Node.js 15 version? Would be useful to see if that improves the situation. (We'll still need to work around for Node.js 12)

[2021-03-03 23:34] edenhermelin opened #145 "unable to use conf inside a webworker"
Hi there,

I'm using `conf` inside a webworker and experiencing some issues in making it work.
The webworker is initiated from Electron, but has `nodeIntegrationInWorker` and `nodeIntegration` at all places so the context there is of NodeJS, not browser ~ electron one.

(When I want to use config file from the main process of electron, Im using `electron-store` 😃 )

The error Im getting is the fol

[2021-03-04 21:32] edenhermelin commented on #145
@sindresorhus I tried to run the source code from inside the webworker, and commenting out the line:
`delete require.cache[__filename];`
makes it possible to use the library.

Is it possible to make this deletion optional /  provide an alternative to `__filename` for this case?

[2021-03-05 11:12] sindresorhus commented on #145
Yeah, we should just remove that logic as it won't work with ESM anyway.

The problem is that it's inconvenient for every user to have to find the path to their package.json, load the JSON, parse it, and then get those properties out of it themselves. Maybe we could add a new option called `importMeta` at the same time. It could accept `import.meta`. We could then use `import.meta.url` to find the

[2021-03-05 17:21] edenhermelin commented on #145
@sindresorhus it sounds like an interesting idea,
but Im not sure it will work for projects with webpack as of this annoying issue: https://github.com/webpack/webpack/issues/6719
I tried to bundle with import.meta and it doesn't work well 😞
![image](https://user-images.githubusercontent.com/10133343/110149198-6bd4f280-7de6-11eb-9e1b-2ffaa5407ff9.png)

As another approach, we can add a new option `

[2021-03-06 09:46] sindresorhus commented on #145
the following part will be skipped:

I don't think we need an option for that. You can just set the `projectName` and `projectVersion` options and `getPackageData()` will not be called. We could update the docs to recommend setting those options when using Webpack or when using a worker.

I don't want to remove https://github.com/sindresorhus/conf/blob/c92c032062a41f8d2c590ccfedcab32b03d6dd61/sour

[2021-03-06 10:13] edenhermelin commented on #145
@sindresorhus this sounds great, thanks.
The one thing that will be still mandatory to make it work when using a worker about :
https://github.com/sindresorhus/conf/blob/c92c032062a41f8d2c590ccfedcab32b03d6dd61/source/index.ts#L29-L32
is to wrap it with `try/catch`, otherwise these lines make the app crash even when sending `projectName` and `projectVersion`.

Can the try/catch also be added there

[2021-03-06 10:17] sindresorhus commented on #145
Sure

[2021-03-06 10:19] edenhermelin commented on #145
@sindresorhus you rock ! 🎸 😎
let me know if I can help some how / PR / document / anything else

[2021-03-11 02:07] timoxley opened #146 "Data clobbering when multiple processes write to a single store"
Currently if you have multiple processes using `conf` with the same storage location they can, and do, clobber each other's data.

e.g.
1. p1 reads store
2. p2 reads store
3. p1 writes store
4. p2 writes store (this clobbers p1's changes in step 3, even if the change was a totally different key)

Any suggestions on how to work around this?

I feel like this could warrant a big disclaimer in the re

[2021-03-19 09:19] sindresorhus commented on #146
I added a note to the readme: https://github.com/sindresorhus/conf/commit/ce1dcee195e95cbd71493b1dfd6efcf7fe185a51

I simply never considered this use-case. It would be nice to support though, but it would require locking the store file during read/write, and the file locking story in Node.js is not great. We would also need to read the config from disk on write and merge it in before writing.

[2021-03-22 20:44] timoxley commented on #146
I had a crack at working around this using https://www.npmjs.com/package/lockfile but this was a non-starter since `conf` implements a sync interface and `lockfile`, ["obviously"](https://github.com/npm/lockfile/blob/6590779867ee9bdc5dbebddc962640759892bb91/lockfile.js#L107) doesn't support waiting for a resource to become unlocked using synchronous operations. For my use-case I (was) using a `Map

[2021-03-23 01:03] papb commented on #146
There is, by Sindre: https://github.com/sindresorhus/make-synchronous

[2021-03-23 03:51] sindresorhus commented on #146
Actually, https://github.com/sindresorhus/sleep-synchronously would be better for this purpose.

[2021-03-30 09:00] serakfalcon opened #148 "This dependency was not found: * ajv/dist/compile/context in ./node_modules/ajv-formats/dist/limit.js"
using conf in webpack fails due to missing dependency in ajv.
This seems to be related to incompatibilities between ajv v6 and v7, where a lot of other dependencies in my project are using ajv v6.
See https://github.com/serverless/serverless/issues/8727 for reference.
Recommend reverting to v6 if possible.

[2021-03-30 09:28] serakfalcon commented on #148
Resolved: deleted node_modules & reinstalled everything. npm was able to sort out the dependencies correctly.

[2021-03-30 09:28] #148 closed

[2021-04-01 12:45] edenhermelin commented on #145
@sindresorhus I opened a local branch with the addition of the `try/catch` around the `delete require.cache` part, but have no permissions to push it remotely. Can you please help ? 😃
the whole change is just :

[code]

[2021-04-19 19:04] sindresorhus commented on #109
For anyone wanting to work on this, see the initial attempt and feedback in: https://github.com/sindresorhus/conf/pull/124

[2021-04-19 19:10] #145 closed

[2021-04-20 10:07] sindresorhus opened #150 "Remove automatic `projectName` / `projectVersion` inference"
https://github.com/sindresorhus/conf/blob/8329e55448df581fdae63fd7bf67c0ab077997a7/source/index.ts#L29-L36

It won't work for ESM.

The problem is that it's inconvenient for every user to have to find the path to their package.json, load the JSON, parse it, and then get those properties out of it themselves. Maybe we could add a new option called `importMeta` at the same time. It could accept `imp

[2021-04-21 12:25] #108 closed

[2021-05-13 07:39] hovancik commented on #85
I'm having similar problem, not sure if it's related. I've had:

[code]
Which worked fine, correct default value gets created.

Once I added another value to schema, it is not being added when I run the app again:

[code]

Am I doing something wrong or? I don't have `object` as in previous examples, but simple `boolean`.

Interestingly, if I **remove my store file**, on the app restart only the fi

[2021-05-13 08:39] hovancik commented on #85
hey @sindresorhus I think this is indeed the bug in `conf` (or `electron-store`).

I've been playing with some workarounds here and elsewhere (where they check if `store.has(key)`) just to find that the `key` that I was missing (it did not get saved to the config file on app start) was **existing and had correct value** but was not saved to disk.

This seems to do the trick to save the file:

[cod

[2021-05-15 17:52] formonkey opened #151 "Private error in Typescript"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `conf@9.0.2` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-06-03 19:34] sindresorhus commented on #114
If anyone wants to work on this, see the initial attempt and feedback in: https://github.com/sindresorhus/conf/pull/137

[2021-07-27 13:55] oltreseba opened #152 "Corrupted file."
We have been using conf with an electron* for a while with encryption enabled.

Somehow it's happening to something like 1 out of 100-300 users that the config.json file gets corrupted. We are noticing this happening more to Windows users with also Avast antivirus installed (maybe it's messing with the read/write, or maybe is just a coincidence)

The error we are getting is
[code]
That is the clas

[2021-07-29 12:10] sindresorhus commented on #152
Corrupted in what way? Empty file? Invalid JSON?

[2021-07-29 12:10] sindresorhus commented on #152
From past experience, issues like these are often connected to anti-virus software.

[2021-07-29 12:54] oltreseba commented on #152
It's hard to tell how it was corrupted as the file was encrypted and even losing one byte will result in a completely meaningless file.

There is an error in the json decode because the content does not start with a standard json (not with a `{` i guess) i can't tell more than this at the current time.

In which way antivirus is messing up with our files? is there a way we can go around this?

[2021-08-21 16:29] BatuhanW commented on #133
@sindresorhus I managed to create a similar concept with strong type-safety. Would you like to check and let me know if we can extract something from there? https://github.com/BatuhanW/haf

[2021-08-25 14:11] oltreseba commented on #152
Would it make sense to backup the file at the end of each write, so either the default file or the backup should be fine? (maybe 1 save behind, but at least not corrupted?)

[2021-09-05 21:34] sindresorhus commented on #152
It's hard to say what the correct fix would be without being able to reliably reproduce the issue.

[2021-09-05 21:34] sindresorhus commented on #152
You could try to replace this call:

https://github.com/sindresorhus/conf/blob/57bd2a2980f60411c1c90b4d609273f8142978c7/source/index.ts#L466

with:

[code]

To see if the problem is with the atomic writing.

[2021-10-18 15:50] adaptmen commented on #151
This problem for me too

[2021-11-12 11:49] sushantdhiman commented on #85
`ajv` maintainers has decided that `default` will not work for nested properties, if top level property has no `default` value

- https://github.com/ajv-validator/ajv/issues/1718
- https://github.com/ajv-validator/ajv/issues/1710

This issue should be closed, as this library is using `useDefaults` from `ajv` for this feature.

[2021-11-14 07:20] Richienb opened #156 "Proxied object"
Would be nice if conf provided a proxy that allows the config to be accessed and set more easily. For example:

[code]

We'd probably need to assign it to a different name though.

[2021-11-14 14:55] sindresorhus commented on #156
I did consider it in the past, but I decided not to as it would hide the fact that each mutation is a fairly expensive method call.

[2021-11-18 07:40] ncallaway opened #157 "Add a `mode` option"
Add a `mode` option that will be used for writing the config file. This feature may be useful if you want to produce a config file that is not world or group readable (or writable).

An example use case is the `aws cli`, which allows the user to configure a profile with `aws configure --profile [profilename]`. The profiles are configured in `~/.aws/config` and `~/.aws/credentials` with a `0o600` m

[2021-11-21 07:08] sindresorhus commented on #157
Fixed by https://github.com/sindresorhus/conf/pull/158

[2021-11-21 07:08] #157 closed

[2021-11-30 05:22] shreshtab commented on #150
Not sure if this overlaps with this issue or if this is a separate one. I'm using ES Modules for a CLI App. When I try to run the CLI command in the App directory or any child directory, it works. However, when I use `yarn link` and then try to run it in a different directory including the parent directory, some command that uses Conf fails with the following error:

[code]

However, one workaroun

[2022-01-29 10:59] wrongsahil opened #160 "Debouncer causing the onDidChange callbacks to get delayed by 5 seconds when registered multiple times"
https://github.com/sindresorhus/conf/blob/9d535a3d05a4cfd6bce4d033a1690b9c7d3b7bb9/source/index.ts#L498

When the onDidChange is registered multiple times (In main and renderer process separately in electron-store), all of the callbacks gets delayed by 5 seconds due to debouncing. Any specific reason to add this debouncing?

[2022-02-03 00:33] eric-gonzalez-tfs commented on #160
Seeing this also. Any idea why this debounce is so high?

[2022-02-03 17:40] sindresorhus commented on #160
https://github.com/sindresorhus/conf/pull/143

[2022-03-04 08:52] mrchaofan opened #161 "Bad performance due to slow ajv.compile called."

[2022-03-04 08:54] mrchaofan commented on #161
<img width="1095" alt="image" src="https://user-images.githubusercontent.com/24412720/156731287-0a3651a2-6f31-4269-8486-a27ec01bffd6.png">
ajv is really time consuming, do you have any ideas for this optimization?

[2022-03-06 09:49] sindresorhus commented on #161
I would recommend opening an issue on the Ajv issue tracker instead. I don't think there's much Conf can do about slow Ajv performance.

[2022-03-08 03:23] mrchaofan commented on #161
Sorry. I should have thought of raising an issue for ajv not for the conf😂. I close this issue.

[2022-03-08 03:23] #161 closed

[2022-03-30 19:12] #156 closed

[2022-04-11 21:42] Trinovantes opened #164 "Store.set is not type checked"
This line makes Typescript accept any key/value for `set`

https://github.com/sindresorhus/conf/blob/06b640d8cfa22d020b1ac1996a9dca0fc0289f83/source/index.ts#L197

I think it should be safe to remove since `get` does not have an equivalent overload

[2022-04-20 18:18] sindresorhus commented on #164
I think it's used for dot-paths (like `foo.bar`). When TS 4.7 is out, we can update `dot-prop` and get type-safe dot paths, which may make it possible to remove that line.

[2022-06-16 17:04] hdhilip98 opened #165 "onDidChange doesn't support dot-notation for nested properties"
I get a typescript compilation error when I try to pass in a key with dot-notation to the `onDidChange` method. This seems to happen because the type of key the onDidChange method is expecting is `keyof <StoreType>`. This doesn't include the nested object properties.

Requesting to add an overload that takes a key of type `string`. Just like the `get` or `set`.

Thanks!

[code]

[2022-08-26 08:23] Mrtenz opened #168 "Add option to use other encryption algorithm (i.e., AES-256-GCM)"
Right now, [`AES-256-CBC` is hardcoded as encryption algorithm](https://github.com/sindresorhus/conf/blob/main/source/index.ts#L19). Other AES-256 modes, such as GCM, offer some benefits over CBC (like authentication). Changing this would be a breaking change, so a possibility would be to introduce an option to specify the encryption algorithm used.

I haven't looked too much into the encryption i

[2022-10-07 16:45] tganzhorn opened #169 "Ajv is in strictmode"
Ajv is in strictmode which makes the usage of validation keywords impossible.

Solution:
Disable strictmode for ajv.

[2022-10-07 17:07] sindresorhus commented on #169
How does it make it impossible? Can you please elaborate a little bit more?

[2022-10-07 17:47] tganzhorn commented on #169
Ok I have to rephrase that. We can’t use user defined keywords. Like for example when I want to use a visible keyword on an object for later usage. Ajv throws an error on unknown keywords, and since we don’t have a way to add custom keywords it’s impossible to use that feature. Ajv enabled strict mode in some release I don’t quite remember but there’s a possibility you didn’t catch that change. Gr

[2022-10-07 17:59] sindresorhus commented on #169
Ok found it: https://ajv.js.org/strict-mode.html#prohibit-ignored-keywords

[2022-10-07 17:59] sindresorhus commented on #169
Wouldn't it be better to support adding custom keywords? Strict mode brings a lot of good. I don't think I want to disable it.

[2022-10-07 18:38] tganzhorn commented on #169
I guess that’s also a possibility, or let the user decide if he wants to disable strict mode completely or wants to add custom keywords.

[2022-10-07 18:39] tganzhorn commented on #169
And yeah strict mode brings a lot of good stuff but sometimes you gotta use them custom keywords 😁

[2022-10-09 18:10] sindresorhus commented on #169
I think we could add a `schemaOptions` top-level option that accepts a `additionalKeywords` option.

[2022-10-09 21:06] tganzhorn commented on #169
You can assign this issue to me if you want to. I‘m sure I can add this feature to the codebase.